footer.footer 
  .footer-container 
    .footer-content 
      .footer-item 
        .footer-item-box
          .footer-title1 Liên hệ
          .footer-box-content 
            .footer-content-item Công Ty TNHH Công Nghệ Và Dịch Vụ DACA
            .footer-content-item Địa chỉ:T. Phú Lương Thượng - Quảng Phú Cầu - Ứng Hòa - Hà Nội
            .footer-content-item Hotline: 
              a.hotline-footer(href='tel:+84344 570 115') 0344 570 115
            .footer-content-item Email: 
              a.email-footer(href='') contact@daca.vn
            .footer-content-item 
      .footer-item 
        .footer-item-box 
          .footer-title2 Daca.vn
          .footer-box-content 
            a.footer-content-item Về chúng tôi
            a.footer-content-item Bảng giá Website
            a.footer-content-item Chương trình đại lý
            a.footer-content-item Cộng tác viên
            a.footer-content-item Blog Daca
            a.footer-content-item Liên hệ
      .footer-item 
        .footer-item-box
          .footer-title3 Thiết kế Website
          .footer-box-content 
            a.footer-content-item(href="") Thiết kế web Mỹ phẩm
            a.footer-content-item(href="") Thiết kế web Thời trang
            a.footer-content-item(href="") Thiết kế web Nội thất
            a.footer-content-item(href="") Thiết kế web Công nghệ
            a.footer-content-item(href="") Thiết kế web Mẹ và bé
            a.footer-content-item(href="") Thiết kế web Giáo dục
      .footer-item 
        .footer-item-box
          .footer-title4 Trợ giúp
          .footer-box-content 
            a.footer-content-item(href="") Tài liệu hướng dẫn
            a.footer-content-item(href="") Hướng dẫn thanh toán
            a.footer-content-item(href="") Chính sách bảo mật thông tin
            a.footer-content-item(href="") Điều khoản sử dụng
    .footer-copyright Copyright