header.header
  .header-container 
    .header-content 
      a.header-logo(href='/')
        .header-logo-img
          img(src='/images/favicon-icon-24.jpg' alt="Ảnh logo")
      .header-menu 
        .header-menu-main 
          a.header-menu-item(href="/products") Sản Phẩm
          a.header-menu-item(href='/service') Dịch Vụ
          a.header-menu-item(href='/about') Về Chúng Tôi
          a.header-menu-item(href='/contact') Liên Hệ
      .header-icon
        .header-icon-main 
          a.header-icon-item(href='/search')
            i.fa-solid.fa-magnifying-glass
          a.header-icon-item(href='/login')
            i.fa-solid.fa-user
          a.header-icon-item(href='/enjoy')
            i.fa-solid.fa-heart
          a.header-icon-item(href='/cart') 
            i.fa-solid.fa-cart-shopping